<table style="height: 145px; width: 920px; font-size: 13px; text-align: left;">
    <tbody>
        <tr>
            <td style="width: 30%; vertical-align: top; text-align: left;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
            <td style="vertical-align: top;" colspan="2">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;" colspan="2">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: right;">CHUYỂN PH&Aacute;T NHANH</td>
                                            <td>&nbsp; &nbsp;<img src="/Content/chonve/nhaxe/ChuHaiAu.png" alt="" width="174" height="35" /></td>
                                            <td style="text-align: right; font-size: 14px; font-weight: bold;">Giờ gửi: [GIO]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                <p style="font-style: italic; margin: 4px;">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</p>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 171px; height: 39px; float: right;">
                                    <tbody>
                                        <tr>
                                            <td class="BarCodePhieuGui"><strong>&nbsp; &nbsp;&nbsp;</strong></td>
                                            <td style="border: 1px solid #000000; width: 230px; height: 25px; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px; text-align: center;"><strong><span style="font-size: 12pt;">Số: [MA]&nbsp;</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">Họ t&ecirc;n người gửi: [NGUOIGUI]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Điện thoại: [DIENTHOAIGUI]</td>
        </tr>
        <tr>
            <td colspan="3">Địa chỉ: [DIACHIGUI]</td>
        </tr>
        <tr>
            <td colspan="3">Số CMT: [CMTGUI]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ng&agrave;y cấp: [NGAYCAPGUI]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nơi cấp: [NOICAPGUI]</td>
        </tr>
        <tr>
            <td colspan="3">Đề nghị chuyển ph&aacute;t nhanh Hải &Acirc;u chuyển số tiền, Bằng số: [SOTIENBANGSO]</td>
        </tr>
        <tr>
            <td colspan="3">Bằng chữ:&nbsp; &nbsp;[SOTIENBANGCHU]</td>
        </tr>
        <tr>
            <td colspan="3">Cho người nhận: [NGUOINHAN]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Điện thoại: [DIENTHOAINHAN]</td>
        </tr>
        <tr>
            <td colspan="3">Ph&iacute; chuyển tiền: [CUOCPHI]</td>
        </tr>
        <tr>
            <td colspan="3">Cước đ&atilde; thanh to&aacute;n: [TONGCUOCDATHANHTOAN]</td>
        </tr>
        <tr>
            <td colspan="3">Địa chỉ: [DIACHINHAN]</td>
        </tr>
        <tr>
            <td colspan="3">Số CMT: [CMTNHAN]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ng&agrave;y cấp: [NGAYCAPNHAN]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nơi cấp: [NOICAPNHAN]</td>
        </tr>
        <tr style="width: 100%;">
            <td colspan="3">
                <table style="width: 100%;">
                    <tbody>
                        <tr style="width: 100%;">
                            <td style="width: 25%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td>*VP 16 T&ocirc;n Đức Thắng - Hải Ph&ograve;ng</td>
                                        </tr>
                                        <tr>
                                            <td>*VP 68 Trần Nhật Duật - H&agrave; Nội</td>
                                        </tr>
                                        <tr>
                                            <td>*VP 30 Ng&ocirc; Gia Khảm T&ocirc;n - H&agrave; Nội</td>
                                        </tr>
                                        <tr>
                                            <td>*VP Ng&atilde; 4 Bến Hải Dương - Hải Dương</td>
                                        </tr>
                                        <tr>
                                            <td>*VP Bến Xe Th&aacute;i B&igrave;nh</td>
                                        </tr>
                                        <tr>
                                            <td>*VP Bến Xe Nam Định</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="width: 25%;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td>ĐT: 0225.3711 711</td>
                                        </tr>
                                        <tr>
                                            <td>ĐT: 024.39284 038</td>
                                        </tr>
                                        <tr>
                                            <td>ĐT: 024.36500 282</td>
                                        </tr>
                                        <tr>
                                            <td>ĐT: 0220.3844 893</td>
                                        </tr>
                                        <tr>
                                            <td>ĐT: 0227.3642 200</td>
                                        </tr>
                                        <tr>
                                            <td>ĐT: 0228.3510 488</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="width: 25%; vertical-align: top;">
                                <p style="text-align: center;">Người gửi tiền</p>
                                <p style="text-align: center;">.....h..../...../...../201....</p>
                                <p style="text-align: center;">(K&yacute;, ghi r&otilde; họ t&ecirc;n)</p>
                            </td>
                            <td style="text-align: center; vertical-align: top;">
                                <p>Nh&acirc;n vi&ecirc;n giao dịch</p>
                                <p>.....h..../...../...../201....</p>
                                <p>(K&yacute;, ghi r&otilde; họ t&ecirc;n)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 11px; text-decoration: underline;" colspan="3"><strong>QU&Yacute; KH&Aacute;CH H&Agrave;NG LƯU &Yacute;:</strong></td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%; font-size: 9px; font-style: italic; text-align: left;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px;">Người đến nhận h&agrave;ng tại VP Hải &Acirc;u phải c&oacute; CMND hoặc GPLX. xin Qu&yacute; kh&aacute;ch vui l&ograve;ng giữ lại bi&ecirc;n nhận khi gửi hoặc nhận h&agrave;ng để đối chiếu khi cần thiết. Thời hạn khiếu kiện trong 20 ng&agrave;y.</td>
                            <td style="width: 100px; border-right: 1px solid #000000;">&nbsp;</td>
                            <td style="text-align: right;">Website: www.haiaubus.vn - <strong>ĐƯỜNG</strong> <strong>D&Acirc;Y N&Oacute;NG: <span style="font-size: 8pt;">0903.440 332</span></strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>